.title {
  text-align: center;
  background-image: url("./dibuzz.jpg");
}

.Homeback {
  background-image: url("./dibuzz.jpg");
  background-size: cover;
  height: 500px;
  width: 1248px;
  background-position: unset;
}

.MainBar {
  background-color: #23b1ca;
}
